body {
    background-color: #322c65;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Mulish', sans-serif;
}

html {
    scroll-behavior: smooth;
}
/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */


#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* NAVBAR ====================================================================== */

#navbar {
    font-family: 'Mulish', sans-serif;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    position:fixed;
    top: 0;
    z-index: 999;
    /* padding-left: 50px;
    padding-right: 50px; */
    background-color: rgba(43,38,52,0.8);
    transition: all 0.3s linear;
}

/* .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto; 
    padding: 0 50px;
} */

#navbar-logo {
    background-color: #7f49a0;
    background-image: linear-gradient(to top, #b908ff 0%, #e1c3fc 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    padding-left: 50px;
}

/* do i need this */
.fa-gem {
    margin-right: 0.5rem;
}

.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    margin-left: auto;
    padding-right: 50px;
}

.navbar-item {
    height: 80px;
}

.navbar-links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1.3rem;
    height: 100%;
}

.navbar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #6c5183;
    color: #fff;
}

.button:hover {
    background: #545054;
    transition: all 0.2s ease;
}

.navbar-links:hover {
    color: #c4a7dd;
    transition: all 0.2s ease;
}

#navbar.hidden {
    top: -80px;

}

/* LANDING ====================================================================== */

#landscape-section {
    background: url("wallpaperflare.com_wallpaper.jpg");
    background-size: cover;
    background-position: center center;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

#welcome-message {
    font-family: 'Mulish', sans-serif;
    font-size: 1.6rem;
    color: white;
    grid-column-start: 2;
    grid-row-start: 2;
    text-align: center;
}

#welcome-title {
    font-size: 3.5rem;
    filter: drop-shadow(11px 11px 5px #382152);
}

section {
    padding: 2rem;
    width: 68%;
}

/* ABOUT-ME ====================================================================== */

#about-me {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
}

.title {
    text-align: left;
    font-family: 'Mulish', sans-serif;
    font-size: 25px;
    grid-column-start: 1;
}

.body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    grid-column-start: 1;
}

#portrait {
    width: 315px;
    object-fit: contain;
    border-radius: 6px;
    filter: drop-shadow(10px 11px 8px #1d193a);
}

#portrait-container {
    display: flex;
    grid-column-start: 2;
}

.body-link {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: rgb(202, 179, 212)
}

/* FEATURED-PROJECTS ====================================================================== */

#project-items {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: center;
    filter: drop-shadow(10px 11px 8px #1d193a);
    margin-right: -10rem;
}

.p-item {
    display: grid;
    width: 350px;
    grid-template-rows: 60.5px 210.04px 0.5fr;
    /* background-color: rgb(121, 100, 149); */
    margin-right: 3rem;
    margin-top: 1.5rem;
    position: relative;
}

.p-item.reveal-margin {
    margin-bottom: 10rem;
}

.p-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    grid-row-start: 1;
    background-color: #2b2634;
    text-align: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.p-title > p > a {
    color: rgb(202, 179, 212);
    filter: drop-shadow(1.1px 1.3px 0.8px #644e7e);
    font-weight: 400;
}

.project-img {
    width: 350px;
    /* padding: 1rem; */
    grid-row-start: 2;
}

.blurb-link > img {
    width: 40px;;
    color:#2b2634;
    margin-top: -1.5rem;
    margin-left: -0.5rem;
    z-index: 5;
}

.p-blurb {
    z-index: -5;
    color:rgb(227, 204, 237);
    background-color: #2b2634;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    top: 20%;
    position: absolute;
    transition: all 0.5s ease-in-out;
}

.p-blurb.reveal {
    /* display: block; */
    top: 100%;
}

.p-blurb > p {
    margin: 0;
    padding: 0.5rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
}

.link-pic {
    width: 15px;
    padding-left: 10px;
}

/* OTHER-PROJECTS ====================================================================== */

#work-items {
    display: grid;
    grid-template-columns: 260px 260px 260px;
    grid-template-rows: 303.5px 303.5px;
    grid-gap: 1.5rem;
}

.w-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    grid-row-start: 1;
    text-align: center;
    filter: drop-shadow(5px 5px 3px #221b32);
}

.w-blurb {
    margin: 0;
    padding: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
}

.w-item {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    filter: drop-shadow(8px 8px 5px #1f1b3b);
}

.w-text {
    grid-row-start: 1;
    grid-column-start: 1;
    display: grid;
    grid-template-rows: 40px 180px 40px;
    border-radius: 9px;
    opacity: 0;
    transition: all 0.2s linear;
}

.w-pic {
    z-index: -10;
    grid-row-start: 1;
    grid-column-start: 1;
    object-fit: cover;
    width: 100%;
    min-height: 100%;
    border-radius: 9px;
}

.w-text:hover {
    opacity: 1;
    background-color: rgba(33, 24, 53, 0.77);
}

/* ART ====================================================================== */

#art-portfolio {
    position: relative;
}

#art-heading {
    padding-top: 1.2rem;
    display: grid;
    grid-template-columns: 170px 50px;
}

#art-heading > p {
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
}

#art-link > img {
    width: 40px;;
    color:#2b2634;
    margin-top: 0.7rem;
    margin-left: -0.7rem;
    z-index: 5;
}

.art-piece {
    display: grid;
    grid-gap: 0.7rem;
    border-radius: 2px;
}

.art-piece > img {
    height: 300px;
    margin: 0.6rem;
}

.art-piece > p {
    text-align: center;
    margin-top: -0.3rem;
}

#media-scroller {
    background-color: #6c6474;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
    border-radius: 6px;
    margin-right: -2rem;

    overflow-x: scroll;
    overscroll-behavior-inline: contain;

    height: 0;
    transition: all 0.5s linear;
}

#media-scroller.reveal {
    height: auto;
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
}

.snaps-inline > * {
    scroll-snap-align: start;
}
