:root {
    --dark-text: rgb(28, 6, 47);
    --nav-purple: #6a3e85;
    --nav-hover: rgb(198, 164, 208);
}

body {
    background-color: #f6f5f4;
    margin: 0;
    padding: 0;
    color: var(--dark-text);
    font-family: "Space Grotesk", sans-serif;
    font-weight: normal;
}

html {
    scroll-behavior: smooth;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8rem;
}

.section-title {
    padding-top: 0;
    margin-top: 1rem;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    font-size: 25px;
}

.section-line {
    outline-style: groove;
    outline-width: 0.9px;
    outline-color: var(--nav-purple);
    height: 0px;
    align-self: center;
}

/* NAVBAR ====================================================================== */

#navbar {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    position:fixed;
    top: 0px;
    z-index: 999;

    background-color: #f6f5f4;
    transition: all 0.3s linear;
}

#navbar-logo {
    background-color: #7f49a0;
    background-image: linear-gradient(to top, #b908ff 0%, #e1c3fc 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    padding-left: 70px;
}

.navbar-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: 100%;
    text-align: center;
    margin-left: auto;
    padding-right: 53px;
    justify-content: space-around;
}

.navbar-links {
    color: #6a3e85;
    text-decoration: none;
    padding: 0 1.3rem;
    transition: all 0.2s ease;
}

#resume-link {
    color:rgb(183, 95, 196);
}

.navbar-links:hover {
    color: rgb(198, 164, 208);
}

#resume-link:hover {
    color: #ea9ce9;
    transition: all 0.2s ease;
}

#navbar.hidden {
    top: -80px;
}

.hamburger-icon {
    right: 0;
    margin-top: auto;
    display: block;
    cursor: pointer;
}

.hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.open #bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open #bar2 {
    opacity: 0;
}

.open #bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mobile-menu {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
}

@media screen and (max-width: 600px) {
    .navbar-menu {
        display: none;
    }
    .navbar-logo {
        display: none;
    }
  }

section {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    width: 80%;
    padding-top: 4rem;
}

/* CONTACT SIDEBAR ====================================================================== */

#contact-sidebar {
    width: 40px;
    position: fixed;
    bottom: 3rem;
    /* left: 30px; */
    right: auto;
}

#socials-list {
    font-size: 1.4rem;

    display: grid;
    grid-template-columns: 60px 60px;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    /* filter: drop-shadow(1.4px 1.2px 1.2px #201744); */
}

.fa-brands {
    color: #6a3e85;
    padding: 0.9rem;
    transition: all 0.2s linear;
}

.fa-brands:hover {
    color: rgb(198, 164, 208);
    font-size: 1.6rem;
}

.fa-linkedin-in {
    padding-left: 1rem;
    font-size: 1.4rem;
}

.fa-linkedin-in:hover {
    font-size: 1.6rem;
}

/* main ====================================================================== */

/* ABOUT-ME ====================================================================== */

.about-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
}

/* .left-title::after {
    background-color: #625c98;
    content: "";
    display: inline-block;
    height: 1.5px;
    position: relative;
    vertical-align: middle;
    width: 100%;
    left: 0.5rem;
    margin-right: -50%;
} */

.body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    grid-column-start: 1;
}

#portrait {
    width: 315px;
    object-fit: contain;
    border-radius: 6px;
    filter: drop-shadow(5px 5px 8px #4b364c);
}

#portrait-container {
    display: flex;
    grid-column-start: 2;
}

.body-link {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: var(--nav-purple);
}

@media screen and (max-width: 800px) {
    .body {
        margin-top: -1rem;
        margin-bottom: 1.5rem;
    }
    .about-container {
        display: flex;
        flex-direction: column;
        grid-template-columns: none;
        grid-gap: 0;
        align-items: center;
    }
}

.lists-section {
    margin-top: 2rem;
}

.all-lists {
    display: flex;
    gap: 3rem;
}

.list-div {
    width: 350px;
}


li {
    margin-bottom: 6px;
}


/* CONTACT ====================================================================== */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    min-height: 70px;
    padding: 15px;
    text-align: center;
}

#footer-content {
    color: var(--nav-purple);
    text-decoration: none;
    font-size: 13.5px;
    line-height: 1;
    font-weight: lighter;

    transition: all 0.1s linear;
}

#footer-content:hover {
    color:rgb(198, 164, 208);
}
