#Header{
    width: 30vw;
    height: auto;
    color: rgb(19, 15, 112);
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    background-color: rgb(215, 235, 252);
}

@media screen and (max-width: 600px) {
body {flex-direction: column;};
}